/*Variables, mixins, fonctions*/

$primary-color: #9356DC;
$secondary-color: #FF79DA;
$darken-secondary-color: #9733EE;
$tertiary-color: #99E2D0;
$grey-background: #F2F2F2;
$white-background: #FFFFFF;
$grey-shadow: #D3D3D3;
$color-filter-icon: #808080;
$capsule-color: #99E2D0;
$darken-capsule-color: #63AA9A;
$footer-grey-background: #2F2F2F;

$breakpoint-tablette: 991px;
$breakpoint-desktop: 1200px;