/*Polices, normes à appliquer sur tout le site, box-sizing, ...*/

section, main, footer
{
    font-family: "Roboto", Arial, Helvetica, sans-serif;
}

header, .filter-title, main h2
{
    font-family: "Shirkhand", Arial, Helvetica, sans-serif;
}

*
{
    background-color: $grey-background;
}

header, .filters, .filter-title
{
    background-color: $white-background;
}

header
{
    @include heading-positionning;
}


input{
    @include input-coloring;
}

.input
{
    @include input-positionning;
}

.fa-map-marker-alt
{
    @include icon-input-positionning;
}

h1, h2, .info p, nav
{
    text-align: center;
}

h1
{
    @include h1-positionning;
}

h2
{
    @include h2-positionning;
}

.info, .filters
{
    padding-bottom: 10%;
}

.info{
    line-height: 250%;
    text-align: -webkit-center;
    text-align: -moz-center;

        & p{
            @include explore-button;
        }
}

.filters{

    .filter-title{
        @include filter-title-positionning;
    }

    .filter-item
    {
        @include filter-item-positionning;
    }
        & p
        {
            @include filter-number-formatting;
        }
    .filter-icon
    {
        padding-right: 5%;
        color: $color-filter-icon;
    }
}

.filter-item:nth-child(3) .filter-icon
{
    font-size: 75%;
}


main {
    .resto
    {
        text-align: center;
    }

    & h2
    {
        @include main-h2-text-sizing;
    }
    
    & img
    {
        @include main-img-sizing
    }
    
    .resto-first, .resto-second, .resto-third, .resto-fourth
    {
        @include resto-sizing;

            .capsule
            {
                @include capsule-positionning;
            }
            
            .caption
            {
                padding-left: 4%;
                line-height: 150%;
                position: relative;
                
                .title
                {
                    font-weight: 900;
                    font-size: 1.1em;
                    padding-top: 4%;
                }
                .city
                {
                    font-size: 1.1em;
                    padding-bottom: 3%;
                }
                
                .far
                {
                    position: absolute;
                    top: 30%;
                    right: 10%;
                    font-size: 1.5em;
                }
            }
    }
        
    & a
    {
        @include a-formatting;
    }
}

footer{
    
    @include footer-positionning-and-coloring;
    
    & a
    {
        @include a-footer-coloring;
    }
    
    & img
    {
        width: 30%;
        height: auto;
    }
    
    .title
    {
        @include footer-title-style;
    }
    
    .fa-hands-helping
    {
        font-size: x-small;
    }
    
    .fas
    {
        padding-right: 5%;
        background-color: $footer-grey-background;
    }
}
